@import 'config.scss';

.msg {
    text-align: center;
    width: 100%;
    background-color: rgba(223, 107, 107, 0.411);
    opacity: 0.6;
    color: $white;
    font-weight: 600;
}

.btn {
    cursor: pointer;
    background-color: rgb(22, 121, 116);
    padding: 5px;
    margin: 5px;
    color: $white;
    outline: none;
    border: none;
    margin-bottom: 7px !important;
    clear: both;
}

.btn:hover {
    background: rgb(42, 141, 136);
}

.li {
    display: inline-block;
    padding: 7px;
}

.header {
    text-align: center;
}

.answer {
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

* {
    ::-webkit-scrollbar {
        width: $scrollbar;
        background: inherit;
    }

    ::-webkit-scrollbar-track {
     width: $scrollbar;
     background: $white;
    }

    ::-webkit-scrollbar-thumb {
        width: $scrollbar;
     background: rgb(10, 13, 27);
    }
}
