@import 'config.scss';

textarea {
    resize: none;
    color: white;
    background: black;
    border: none;
    outline: none;
}

.header {
    text-align: center;
    font-weight: $font-weight;
}
